.main-header {
    font-family: "Manrope", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    color: #535C72;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0px;
}

